language: python
python:
  - "2.7"

services:
  - postgresql

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install codecov

# command to run tests
script: 
  - coverage run setup.py test

after_success:
  - bash <(curl -s https://codecov.io/bash)
