{# 
 Template para politicas de restriccion
 ============================================================
  Las politicas de restriccion son aquellas que prohiben la comunicacion
  entre dos clases de trafico. Tambien pueden especificarse direcciones
  físicas.
 
 @author: Yonatan Romero
 Netcop 2016. Universidad Nacional de la Matanza
#}

{# Si la politica tiene objetivos de origen y destino #}
{% if politica.origenes %}
  {% for origen in politica.origenes %}
    {% for destino in politica.destinos %}
      {# objetivo define redes #}
      iptables -A FORWARD -s {{ origen.clase.redes|join(',') }} -d {{ destino.clase.redes|join(',') }} DROP
    {% endfor %}
  {% endfor %}

{# Si la politica solo tiene objetivos de destino #}
{% else %}
  {% for objetivo in politica.destinos %}
  {% endfor %}
{% endif %}
