{#
 Template para generar el script de configuracion del kernel de linux

 Las politicas de tc siempre son para trafico saliente, por lo que el trafico
 de bajada se configura en el interfaz inside y el trafico de subida se
 configura en la interfaz outside

 bajada -> inside
 subida -> outside

 Prioridades:
 ---------------
   * Alta: 1
   * Normal: 3
   * Baja: 7

 Prioridad de trafico por defecto 3

 @author: Yonatan Romero
 Netcop 2016. Universidad Nacional de la Matanza
#}

{# Definicion de valores por defecto #}
{# ------------------------------------------------------------------------- #}
{% set root_queue=9999 %}
{% set default_queue=9998 %}
{# velociadad de subida en mbits #}
{% if bw_subida is not defined %}
  {% set bw_subida = 100 %}
{% endif %}
{# velociadad de bajada en mbits #}
{% if bw_bajada is not defined %}
  {% set bw_bajada = 100 %}
{% endif %}
{# valores de prioridad #}
{% set PRIO_ALTA = 1 %}
{% set PRIO_NORMAL = 3 %}
{% set PRIO_BAJA = 7 %}

{# Inicio del script #}
{# ------------------------------------------------------------------------- #}
#!/bin/sh

IPTABLES="/usr/bin/sudo /sbin/iptables"
TC="/usr/bin/sudo /sbin/tc"

{# Limpia reglas previas #}
$IPTABLES -P FORWARD ACCEPT
$IPTABLES -F
$IPTABLES -F -t mangle
$IPTABLES -A FORWARD -i lo -j ACCEPT
$TC qdisc del dev {{ if_outside }} root
$TC qdisc del dev {{ if_inside }} root

{# inicializacion del tc #}
# DEBUG: Configuracion interfaz OUTSIDE
$TC qdisc add dev {{ if_outside }} root handle 1: htb default {{ default_queue }}
$TC class add dev {{ if_outside }} parent 1: classid 1:{{ root_queue }} htb rate {{ bw_subida }}mbit
$TC class add dev {{ if_outside }} parent 1:{{ root_queue }} classid 1:{{ default_queue }} htb rate 1kbit ceil {{ bw_bajada|default('1024') }}mbit prio {{ PRIO_NORMAL }}
$TC qdisc add dev {{ if_outside }} parent 1:{{ default_queue }} handle 9998: sfq perturb 10

# DEBUG: Configuracion interfaz INSIDE
$TC qdisc add dev {{ if_inside }} root handle 1: htb default {{ default_queue }}
$TC class add dev {{ if_inside }} parent 1: classid 1:{{ root_queue }} htb rate {{ bw_bajada }}mbit
$TC class add dev {{ if_inside }} parent 1:{{ root_queue }} classid 1:{{ default_queue }} htb rate 1kbit ceil {{ bw_bajada|default('1024') }}mbit prio {{ PRIO_NORMAL }}
$TC qdisc add dev {{ if_inside }} parent 1:{{ default_queue }} handle 9998: sfq perturb 10

{# Definicion de reglas #}
{# ----------------------------------------------------------------------- #}
{% for politica in politicas %}

  {# Priorizacion #}
  {# ----------------------------------------------------------------------- #}
  {% if politica.prioridad %}
    {# defino la velocidad minima de la politica (en mbit) #}
    {% if politica.prioridad == politica.PRIO_ALTA %}
      {% set vm_bajada = bw_bajada|int/cant_alta_prioridad|default(1) %}
      {% set vm_subida = bw_subida|int/cant_alta_prioridad|default(1) %}
    {% else %}
      {% set vm_bajada = 1/1024 %} {# 1kbit #}
      {% set vm_subida = 1/1024 %} {# 1kbit #}
    {% endif %}
    # DEBUG: priorizacion {{ politica.id_politica }}
    $TC class add dev {{ if_outside }} parent 1:{{ root_queue }} classid 1:{{ loop.index }} htb rate {{ vm_subida }}mbit ceil {{ bw_subida }}mbit prio {{ politica.prioridad }}
    $TC filter add dev {{ if_outside }} parent 1: prio 0 protocol ip handle {{ politica.id_politica }} fw flowid 1:{{ loop.index }}

    $TC class add dev {{ if_inside }} parent 1:{{ root_queue }} classid 1:{{ loop.index }} htb rate {{ vm_subida }}mbit ceil {{ bw_bajada }}mbit prio {{ politica.prioridad }}
    $TC filter add dev {{ if_inside }} parent 1: prio 0 protocol ip handle {{ politica.id_politica }} fw flowid 1:{{ loop.index }}

    {% for flags in politica.flags() %}
      $IPTABLES -A FORWARD -t mangle {{ flags }} -j MARK --set-mark {{ politica.id_politica }}
      $IPTABLES -A FORWARD -t mangle {{ flags }} -j RETURN
    {% endfor %}

  {# Limitacion #}
  {# ----------------------------------------------------------------------- #}
  {% elif politica.velocidad_bajada or politica.velocidad_subida %}
    # DEBUG: limitacion {{ politica.id_politica }}
    {% if politica.velocidad_subida %}
      $TC class add dev {{ if_outside }} parent 1:{{ root_queue }} classid 1:{{ loop.index }} htb rate 1kbit ceil {{ politica.velocidad_subida }}kbit prio {{ PRIO_NORMAL }}
      $TC filter add dev {{ if_outside }} parent 1: prio 0 protocol ip handle {{ politica.id_politica }} fw flowid 1:{{ loop.index }}
    {% endif %}

    {% if politica.velocidad_bajada %}
      $TC class add dev {{ if_inside }} parent 1:{{ root_queue }} classid 1:{{ loop.index }} htb rate 1kbit ceil {{ politica.velocidad_bajada }}kbit prio {{ PRIO_NORMAL }}
      $TC filter add dev {{ if_inside }} parent 1: prio 0 protocol ip handle {{ politica.id_politica }} fw flowid 1:{{ loop.index }}
    {% endif %}

    {% for flags in politica.flags() %}
      $IPTABLES -A FORWARD -t mangle {{ flags }} -j MARK --set-mark {{ politica.id_politica }}
      $IPTABLES -A FORWARD -t mangle {{ flags }} -j RETURN
    {% endfor %}

  {# Restriccion #}
  {# ----------------------------------------------------------------------- #}
  {% else %}
    # DEBUG: restriccion {{ politica.id_politica }}
    {% for flags in politica.flags() %}
      $IPTABLES -A FORWARD {{ flags }} -j REJECT
    {% endfor %}
  {% endif %}
{% endfor %}

{# Por defecto acepta todo el trafico #}
{# ----------------------------------------------------------------------- #}
$IPTABLES -P INPUT ACCEPT
$IPTABLES -P FORWARD ACCEPT
$IPTABLES -P OUTPUT ACCEPT
