{#
 Template para generar el script de configuracion del kernel de linux

 Las politicas de tc siempre son para trafico saliente, por lo que el trafico
 de bajada se configura en el interfaz inside y el trafico de subida se
 configura en la interfaz outside

 bajada -> inside
 subida -> outside

 @author: Yonatan Romero
 Netcop 2016. Universidad Nacional de la Matanza
#}
{% set root_queue=9999 %}
#!/bin/sh

IPTABLES="/usr/bin/sudo /sbin/iptables"
TC="/usr/bin/sudo /sbin/tc"

{# Limpia reglas previas #}
$IPTABLES -P FORWARD ACCEPT
$IPTABLES -F
$IPTABLES -A FORWARD -i lo -j ACCEPT
$TC qdisc del dev {{ if_outside }} root
$TC qdisc del dev {{ if_inside }} root

{# inicializacion del tc #}
$TC qdisc add dev {{ if_outside }} root handle 1: htb default {{ root_queue }}
$TC class add dev {{ if_outside }} parent 1: classid 1:{{ root_queue }} htb rate {{ bw_subida|default('1gbit') }}
$TC qdisc add dev {{ if_inside }} root handle 1: htb default {{ root_queue }}
$TC class add dev {{ if_inside }} parent 1: classid 1:{{ root_queue }} htb rate {{ bw_bajada|default('1gbit') }}

{% for politica in politicas %}
  {# Priorizacion #}
  {# ----------------------------------------------------------------------- #}
  {% if politica.prioridad %}
    # DEBUG: priorizacion {{ politica.id_politica }}
    $TC class add dev {{ if_outside }} parent 1:{{ root_queue }} classid 1:{{ loop.index }} htb rate {{ bw_subida|default('1gbit') }} prio {{ politica.prioridad }}
    $TC class add dev {{ if_inside }} parent 1:{{ root_queue }} classid 1:{{ loop.index }} htb rate {{ bw_bajada|default('1gbit') }} prio {{ politica.prioridad }}
    $TC filter add dev {{ if_outside }} parent 1: prio 0 protocol ip handle {{ politica.id_politica }} fw flowid 1:{{ loop.index }}
    $TC filter add dev {{ if_inside }} parent 1: prio 0 protocol ip handle {{ politica.id_politica }} fw flowid 1:{{ loop.index }}
    {% for flags in politica.flags() %}
      $IPTABLES -A PREROUTING -t mangle {{ flags }} -j MARK --set-mark {{ politica.id_politica }}
    {% endfor %}

  {# Limitacion #}
  {# ----------------------------------------------------------------------- #}
  {% elif politica.velocidad_bajada or politica.velocidad_subida %}
    # DEBUG: limitacion {{ politica.id_politica }}
    {% if politica.velocidad_subida %}
      $TC class add dev {{ if_outside }} parent 1:{{ root_queue }} classid 1:{{ loop.index }} htb rate {{ politica.velocidad_subida }}mbps prio 4
      $TC filter add dev {{ if_outside }} parent 1: prio 0 protocol ip handle {{ loop.index }} fw flowid 1:{{ politica.id_politica }}
    {% endif %}
    {% if politica.velocidad_bajada %}
      $TC class add dev {{ if_inside }} parent 1:{{ root_queue }} classid 1:{{ loop.index }} htb rate {{ politica.velocidad_bajada }}mbps prio 4
      $TC filter add dev {{ if_inside }} parent 1: prio 0 protocol ip handle {{ politica.id_politica }} fw flowid 1:{{ loop.index }}
    {% endif %}
    {% for flags in politica.flags() %}
      $IPTABLES -A PREROUTING -t mangle {{ flags }} -j MARK --set-mark {{ politica.id_politica }}
    {% endfor %}

  {# Restriccion #}
  {# ----------------------------------------------------------------------- #}
  {% else %}
    # DEBUG: restriccion {{ politica.id_politica }}
    {% for flags in politica.flags() %}
      $IPTABLES -A FORWARD {{ flags }} -j REJECT
    {% endfor %}
  {% endif %}
{% endfor %}

$IPTABLES -P INPUT ACCEPT
$IPTABLES -P FORWARD ACCEPT
$IPTABLES -P OUTPUT ACCEPT
