{#
 Template para generar el script de configuracion del kernel de linux

 Las politicas de tc siempre son para trafico saliente, por lo que el trafico
 de bajada se configura en el interfaz inside y el trafico de subida se
 configura en la interfaz outside

 bajada -> inside
 subida -> outside

 Prioridades:
 ---------------
   * Alta: 1
   * Normal: 3
   * Baja: 7

 Prioridad de trafico por defecto 3

 @author: Yonatan Romero
 Netcop 2016. Universidad Nacional de la Matanza
#}

{# Definicion de valores por defecto #}
{# ------------------------------------------------------------------------- #}
{% set root_queue = 9999 %}
{% set default_queue = 9998 %}

{# velocidad de subida en mbits por defecto #}
{% if bw_subida is not defined %}
  {% set bw_subida = 100 %}
{% endif %}

{# velocidad de bajada en mbits por defecto #}
{% if bw_bajada is not defined %}
  {% set bw_bajada = 100 %}
{% endif %}

{# valores de prioridad #}
{% set PRIO_ALTA = 1 %}
{% set PRIO_NORMAL = 3 %}
{% set PRIO_BAJA = 7 %}

{# Inicio del script #}
{# ------------------------------------------------------------------------- #}
#!/bin/sh

IPTABLES="/usr/bin/sudo /sbin/iptables"
TC="/usr/bin/sudo /sbin/tc"

{% include 'inicializacion.jinja' %}

{# Definicion de reglas #}
{# ------------------------------------------------------------------------- #}
{% for politica in politicas %}
  {% set numero_politica = loop.index %}

  {# Priorizacion #}
  {# ----------------------------------------------------------------------- #}
  {% if politica.prioridad %}
    {% include 'priorizacion.jinja' %}
    
  {# Limitacion #}
  {# ----------------------------------------------------------------------- #}
  {% elif politica.velocidad_bajada or politica.velocidad_subida %}
    {% include 'limitacion.jinja' %}

  {# Restriccion #}
  {# ----------------------------------------------------------------------- #}
  {% else %}
    {% include 'restriccion.jinja' %}
  {% endif %}
{% endfor %}

{# Por defecto acepta todo el trafico #}
{# ------------------------------------------------------------------------- #}
$IPTABLES -P INPUT ACCEPT
$IPTABLES -P FORWARD ACCEPT
$IPTABLES -P OUTPUT ACCEPT
