{# 
 Template para politicas de restriccion
 ============================================================
  Las politicas de restriccion son aquellas que prohiben la comunicacion
  entre dos clases de trafico. Tambien pueden especificarse direcciones
  físicas.
 
 @author: Yonatan Romero
 Netcop 2016. Universidad Nacional de la Matanza
#}

{% for politica in politicas %}
  {% for flags in politica.flags_str() %}
    iptables -A INPUT {{ flags }} -j DROP
  {% endfor %}
{% endfor %}
